<section class="thirteen columns">
  <h1>Honors</h1>
  <article>
    <header></header>
    <ul>
<li>
  <p>*The WuWenJun AI Excellent Young Scientist, 2023</p>
		</li>
<li>
  <p>*Second prize of Tianjin Prize for Progress in Science and Technology, 2023 (3/8)</p>
		</li>
<li>
  <p>*Second prize of Tianjin Prize for Progress in Science and Technology, 2022 (1/8)</p>
		</li>
<li>
  <p>*The excellent doctoral dissertation of Chinese Association for Artificial Intelligence (CAAI), 2020</p>
</li>
 <li>
  <p>*ICIP2015 Best 10% Paper Award</p>
      </li>
    </ul>
  </article>
  <article></article>
</section>
